<h3>Mythos<i class="fas fa-stroopwafel"></i></h3>
<div class="section">
    <p class="lead">
        Your Imaginations are Limitless, Share your Stories
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn purple darken-1">
       <i class="fab fa-google left"></i>Log In with Google
    </a>

</div>